##
# This is a shared workflow to be used across the organisation
##

name: Deployment via SSM

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
    secrets:
      #aws-access-key:
      #  required: true
      aws-deploy-role-arn:
        required: true

jobs:
  Deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    container:
      image: ghcr.io/toumoro/tm-ansible:latest
    permissions:
      id-token: write
      contents: read
    env:
      AWS_SSM_BUCKET: ${{ vars.AWS_SSM_BUCKET }}
      TM_INSTANCE_ID: ${{ vars.TM_INSTANCE_ID }}
      SERVER_USERNAME: ${{ vars.SERVER_USERNAME }}
      PROJECT_CLIENT: ${{ vars.PROJECT_CLIENT }}
      TM_TYPO3_CONTAINER: ${{ vars.TM_TYPO3_CONTAINER }}
      DOCKER_PULL_POLICY: ${{ vars.DOCKER_PULL_POLICY }}
      DOCKER_BUILD_POLICY: ${{ vars.DOCKER_BUILD_POLICY }}
      ANSIBLE_VERBOSITY: ${{ vars.ANSIBLE_VERBOSITY }}
      ANSIBLE_PYTHON_INTERPRETER: ${{ vars.ANSIBLE_PYTHON_INTERPRETER || 'auto_silent' }}
    steps:
    - name: Checkout client repo
      uses: actions/checkout@v3
    - uses: actions/labeler@v6
      with:
        repo-token: ${{ secrets.token }}
    #- name: Debug GitHub OIDC token
    #  run: |
    #       echo "Requesting OIDC token..."
    #       TOKEN=$(curl -sSL \
    #       -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" \
    #       "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=sts.amazonaws.com" \
    #       | jq -r '.value')
    #       echo "$TOKEN" | cut -d '.' -f2 | base64 --decode | jq
    - name: Setup AWS CLI
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-region: ${{ vars.aws-region || 'ca-central-1' }}
        #aws-access-key-id: ${{ vars.AWS_ACCESS_KEY_ID }}
        #aws-secret-access-key: ${{ secrets.aws-access-key }}
        role-to-assume: ${{ secrets.aws-deploy-role-arn }}
        role-duration-seconds: 1200
        special-characters-workaround: true
    - name: Deploy Docker
      run: |
        ansible-playbook -i /ansible/inventory/ssm.ini \
            /ansible/playbooks/docker-deploy.yml
    #- name: Deploy Traefik
    #  run: |
    #    ansible-playbook -i /ansible/inventory/ssm.ini \
    #        /ansible/playbooks/traefik-deploy.yml \
    #        --become --become-user ${SERVER_USERNAME} 
    - name: Deploy TYPO3
      run: |
        ansible-playbook -i /ansible/inventory/ssm.ini \
            /ansible/playbooks/typo3-deploy.yml \
            --become --become-user ${SERVER_USERNAME}
