name: Release
on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"

      - name: Semantic Release (dry-run)
        if: github.event_name == 'pull_request'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npx semantic-release --dry-run

      - name: Semantic Release
        if: github.event_name == 'push'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npx semantic-release

      - name: Update floating tags
        if: github.event_name == 'push'
        run: |
          VERSION=$(git describe --tags --abbrev=0)
          CLEAN_VERSION=${VERSION#v}
          
          MAJOR=$(echo "$CLEAN_VERSION" | cut -d. -f1)
          MINOR=$(echo "$CLEAN_VERSION" | cut -d. -f1,2)

          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git tag -f v$MAJOR
          git push origin v$MAJOR --force

          git tag -f v$MINOR
          git push origin v$MINOR --force
